@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
:root {
    --Cyan: hsl(179, 62%, 43%);
    --LightCyan: hsl(179, 43%, 56%);
    --Yellow: hsl(71, 73%, 54%);
    --Gray: hsl(204, 43%, 93%);
    --GrayBlue: hsl(218, 22%, 67%);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: var(--Gray);
}
.container {
    height: 95vh;
    display: flex;
    margin: auto;
    width: 1000px;
    align-items: center;
    justify-content: center;
}
.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 10px 30px 30px rgba(0,0,0,0.06);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 635px;
    height: 480px;
}
.cardhead {
    padding: 2.5rem 0 2.5rem 2.5rem;
    grid-column: 1 / span 2;
}
h2.cardtitle {
    color: var(--Cyan);
    padding: 10px 0;
}
h3.cardsubtitle {
    color: var(--Yellow);
    padding: 10px 0;
}
.cardhead p {
    color: var(--GrayBlue);
    padding-bottom: 5px;
}
.cardsub {
    background-color: var(--Cyan);
    border-radius: 0 0 0 10px;
    padding: 3rem 0 3rem 3rem;
}
.cardsub p {
    color: #a2f7f4;
}
.cardbody {
    color: #ffffff;
}
.cardbody p {
    color: #a2f7f4;
}
.pricing {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
.pricing h3 {
    display: inline-block;
    min-width: 27%;
    font-size: 2rem;
}
.pricing p {
    display: inline-block;
    min-width: 70%;
    color: #7ae0e4;
}
button {
    background-color: var(--Yellow);
    color: #ffffff;
    width: 240px;
    height: 45px;
    font-weight: bold;
    font-size: 0.85rem;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #55b16e; 
}
button:hover {
    background-color: #ffc107;
}
.cardbodydetail {
    background-color: var(--LightCyan);
    border-radius: 0 0 10px 0;
    padding: 3rem;
}
.cardbodydetail h4 {
    padding-bottom: 20px;
}
.cardbodydetail p {
    color: #a2f7f4;
    display: flex;
    padding-bottom: 4px;
    font-size: 0.9rem;
    font-weight: normal;
}
.attribution { 
    font-size: 0.75rem; 
    text-align: center; 
    color: #000000;
}
.attribution a { 
    color: #000000; 
}
@media screen and (max-width: 500px) {
    .container {
        width: 300px;
        height: 100vh;
        padding-bottom: 500px;
        padding-top: 300px
    }
    .card {
        width: 300px;
        display: flex;
        flex-direction: column;
    }
    .cardhead {
        padding: 1.5rem 0 1.5rem 1.5rem;
    }

    .cardsub {
        width: 100%;
        border-radius: 0;
        padding: 1.5rem 0 1.5rem 1.5rem;
    }
    .cardbodydetail {
        width: 100%;
        border-radius: 0 0 10px 10px;
        padding: 1.5rem 0 1.5rem 1.5rem;
    }
}